.menu {
    background-color: lawngreen;
} 

.logo {
    height: 35px;
    border-radius: .5rem;
}

.testimonal1 {
    background-color: lightpink;
}

.testimonal2 {
    background-color: tomato;
}

.service1 {
    background-color: palegreen;
}

.service2 {
    background-color: aqua;
}

.service3 {
    background-color: burlywood;
}