body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: 60px 50vh repeat(auto-fit, minmax(300px, 1fr));
    grid-template-areas: 
        "nav nav"
        "hero hero"
        "testimonals testimonals"
        "about ads"
        "services ads"
        "contact contact"
        "footer footer";
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    background-color: #C9DECE;
}

.logo {
    height: 30px;
    vertical-align: middle;
    margin-left: 1rem;
}

.menu > a {
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #8DA290;
    font-weight: 500;
}

.socials > a {
    padding: .5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #8DA290;
}

.hero {
    grid-area: hero;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
}

.testimonals {
    grid-area: testimonals;
}

.flexbox-main {
    display: flex;
    justify-content: space-between;
    background-color: #C9B4A6;
    padding: 2rem 0;
    flex-wrap: nowrap;
}

.flexbox-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border:  #B1B1B1 1px solid;
    border-radius: 5rem;
    box-shadow: 0px 2px 8px 0px  #B1B1B1;
    width: 33%;
    background-color: white;
}

.fancy-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.testimonal-img {
    height: 100px;
    border: 1px solid transparent;
    border-radius: 5rem;
}

.testimonal-parag {
    text-align: center;
    font-style: italic;
    font-size: 1.1rem;
}

.testimonal-h1 {
    font-size: 1.2rem;
    align-self: flex-end;
    margin-right: 40px;
    font-family: 'Kalam', cursive;
}

.about {
    grid-area: about;
    padding: 1rem 5rem;
    overflow: hidden;
    background-color: #EED8A8;
}

.about > p {
    text-align:justify;  
    text-justify:inter-word;
    line-height: 2rem;
}

.about-img {
    float: right;
    height: 20rem;
    margin: .5rem 1rem;
    border-radius: 200px;
    box-shadow: 0px 2px 8px 0px  #B1B1B1;
}

.services {
    grid-area: services;
    background-color: #E1BEA8;
}

.services > * {
    background-color: #E1BEA8;
}

.service-h1 {
    font-family: 'Kalam', cursive;
}

.service-img {
    height: 150px;
}

.service-parag {
    text-align: center;
    line-height: 2rem;
}

.contact {
    background-color: #EEE5D1;
    grid-area: contact;
    padding-bottom: 2rem;
    
}

.form-item {
    display: flex;
    justify-content: center;
    
}

.form-item > label {
    padding: 0 1rem;
    width: 10%;
    font-weight: bold;
    font-size: .9rem;
}

.form-item > input {
    width: 30%;
    margin: .25rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px  #B1B1B1 solid;
}

textarea {
    width: 30%;
    height: 100px;
    margin: .25rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px  #B1B1B1 solid;
}

.submit {
    background-color: #BDC6AF;
    border-radius: 5rem;
    padding: 1rem 4rem;
    margin-top: 1rem;
    margin-left: 10%;
}

::placeholder {
    font-family: monospace;
    font-style: italic;
    padding-left: 5px;
}

.ads {
    grid-area: ads;
    background-image: url('../img/ads.jpg');
}

.footer {
    background-color: #C9DECE;
    grid-area: footer;
    padding: 1rem;
}

@media (min-width: 1000px) {
    .grid-wrapper {
        grid-template-columns: 1fr .2fr;
        grid-template-rows: 60px 50vh repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas: 
            "nav nav"
            "hero hero"
            "testimonals testimonals"
            "about ads"
            "services ads"
            "contact contact"
            "footer footer";
    }
    /* .flexbox-main {
        display: flex;
        justify-content: space-between;
        background-color: #C9B4A6;
        padding: 2rem 0;
        flex-wrap: nowrap;
    } */
} 

@media (min-width: 950px) {
    .grid-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 50vh repeat(auto-fit, minmax(300px, 1fr));
        grid-template-areas: 
            "nav"
            "hero "
            "testimonals"
            "about"
            "services"
            "contact"
            "footer";
    }
}

@media (max-width: 768px) {
    .flexbox-main {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 593px) {
    /* html {
        font-size: 0.7rem;
    } */

}
